{% extends 'base.html.twig' %}


{% block content_title %}Show Page{% endblock %}

{% block body %}
      <h1>{{stack.Name}}</h1>

      {% dump stack %}

      <table class="table">
          <tbody>

              <tr>
                  <th>Membre</th>
                  <td>{{ stack.Member }}</td>
              </tr> 

              <tr>
                  <th>Description</th>
                  <td>{{ stack.Description }}</td>
              </tr>

              <tr>
                  <th>Visibilité</th>
                  {% if stack.IsPublic %}
                    <td>Publique</td>                    
                  {% else %}
                    <td>Privée</td>   
                  {% endif %}
              </tr> 

              <tr>
                {# ... #}
              </tr>

              <tr>
                  <th>Chair</th>
                  <td>
                  <ul>
                  {%  for chair in stack.getChairsInStack    %}
                    <li>
                        <a href="{{ path('chair_show', {'id': chair.id}) }}">{{ chair }}</a>
                        {#<a href="{{ path('stack_show', {'id': chair.chairToStack.id }) }}">back to stack</a>#}
                    </li>
                  {% endfor %} {# stack.chairs #}
                  </ul> 
                  </td>
              </tr>

              <tr>
                <a href=http://localhost:8000/stack/> retour à la liste des stacks </a>
              </tr>

          </tbody>
      </table>
{% endblock %}
