{% extends 'base.html.twig' %}

{% block content_title %}Show Page{% endblock %}

{% block body %}
      <h1>{{chair.Name}}</h1>

      {% dump chair %}

      <table class="table">
          <tbody>

              <tr>
                  <th>Description</th>
                  <td>{{ chair.Description }}</td>
              </tr>

              <tr>
                  <th>Rarity</th>
                  <td>{{ chair.rarity }}</td>
              </tr> 

              <tr>
                  <th>Number of Legs</th>
                  <td>{{ chair.nbLegs }}</td>
              </tr> 

              <tr>
                <a href="{{ path('stack_show', {'id': chair.getChairToStack.id }) }}"> Aller au stack</a>
              </tr>

          </tbody>
      </table>
{% endblock %}